*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg.jpg);
    background-size: contain;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Second Causes';
    src: url(fonts/SecondCausesDemoBold-vn2JE.otf);
}
@font-face {
    font-family: 'Brskovo';
    src: url(fonts/BrskovoDemoExtrablack-BWgzB.ttf);
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

h2 {
    font-family: 'Second Causes';
    font-size: 20px;
    color: antiquewhite;
}


/* Mobile Styles */
    /* MAIN PAGE */
.linkspage1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #0d0e13bb;
    text-align: center;
    height: 380px;
    margin:0 10px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-bottom: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr .3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid #000000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0e0d0c;
}

.logo p {
    font-family: 'Second Causes';
    text-align: left;
    color: antiquewhite;
    line-height: 40px;
    font-size: 1.1em;
    grid-area: 1 / 1 / 2 / 2;
    animation: .8s fadeInUp;
}

.logo a {
    grid-area: 1 / 2 / 2 / 3; 
    text-align: right;
    line-height: 40px;
    color:antiquewhite;
    text-decoration: none;
    animation: .8s fadeInUp;
}

.mypicture {
    grid-area: 2 / 1 / 3 / 2;
    transform: scale(.7);
    height: 300px;
}

nav {
    display: block;
    position: relative;
    height: 150px;
    transform: scale(1);
    top: -10px;
    animation: .8s fadeInUp;
}

nav a {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform-origin: bottom center;
    width: 80px;
    height:80px;
    padding: 10px;
    margin: 0 -40px;
    color: rgb(196, 125, 19);
    text-decoration: none;
    background-color: rgba(64, 67, 73, 0.116);
    border-radius: 100px;
}

nav a p {
    display: none;
}

nav a svg {
    position: relative;
    top:10px;
    height:50px;
    width:100%;
    fill: rgb(124, 158, 231);
}

nav a:hover {
    background: #272b3f9f;
    color: rgb(236, 230, 226);
    display: block;
}

nav a:hover p {
    display: block;
    font-size: 15px;
    position: relative;
    top: -10px;
}

nav a:nth-child(1) { 
    transform: rotate(-80deg) translateY(-190px) rotate(80deg);
}
nav a:nth-child(2) { 
    transform: rotate(-35deg) translateY(-110px) rotate(35deg); 
}
nav a:nth-child(3) { 
    transform: rotate(35deg)  translateY(-110px) rotate(-35deg); 
}
nav a:nth-child(4) { 
    transform: rotate(80deg)  translateY(-190px) rotate(-80deg); 
}

.nav-frame {
    position: relative;
    transform: scale(2.4);
    top: -50px;
    fill: rgb(53, 53, 65);
    filter: drop-shadow(1px 1px 10px rgb(9, 8, 34));
}

.its-me {
    position: relative;
    margin: 0 auto;
    top: -60px;
    width: 300px;
    animation: .8s fadeInUp;
}

.its-me img {
    border: 2px solid #395ab4;
    border-radius: 100px;
    width: 200px;
    box-shadow: 0 0 20px #000000;
}

.its-me p {
    color: rgb(88, 145, 230);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Second Causes';
}

.its-me a{
    text-decoration: none;
    color: rgb(37, 120, 245);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    background-color: #38356d63;
    border-radius: 5px;
}

.its-me a:hover  {
    background-color: #20357ab0;
    color: rgb(122, 170, 241);
    font-weight: bold;
}
    /* MAIN PAGE END */

    /* The Content Boxes */
.content-section {
    margin: 0 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0d0e13bb;
    border: 1px solid #000000;
    border-top: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content {
    margin: 10px;
    padding: 10px;
    background-color: #23262c79;
    border-radius: 15px;
    box-shadow: 0 0 20px #000000;
    animation: .4s fadeInUp;
}

.content p {
    font-family: monospace, Verdana, sans-serif;
    padding: 0 5px;
    padding-top: 10px;
    color: rgb(212, 201, 187);
    font-size: 20px;
    animation: .6s fadeInUp;
}

    /* CONTACT START */
#contact .content{
    text-align: center;
}

.jotform-contain{
    max-width:475px;
    overflow: hidden;
    border-radius: 20px;
    height:550px;
    margin: 0 auto;
    margin-top: 20px;
}

.jot-iframe{
    position: relative;
    right:12px;
    bottom: 12px;
    width: 500px;
}
    /* CONTACT END */

    /* COURSEWORK START */
.cw-container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
}

.cw-names {
    grid-area: 1 / 1 / 2 / 2;
}

.coursework-texts {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px;
}

.coursework-texts-mobile {
    display: none;
}

.cw-names ul {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 250px;
    height: 270px;
}

.cw-names li {
    color: rgb(202, 196, 188);
    font-size: 1.2em;
    font-family: monospace;
    padding: 5px 0;
    transition: 0.22s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.cw-names li:hover {
    font-style: italic;
    color: #395ab4;
    transform: translateX(18px);
}

.cw-textbox {
    text-align: center;
}

.cw-textbox h3 {
    font-family: 'Second Causes';
    color: antiquewhite;
    font-size: .9em;
    margin: 10px 0;
}

.cw-textbox p {
    background-color: #10101b85;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
}

.cw-textbox img{
    max-height: 180px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    transition: max-height 0.9s ease-in-out;
    object-fit: cover;
    animation: .6s fadeInUp;
}

.cw-textbox img:hover {
    max-height: 800px;
    width: 80%;
}
    /* COURSEWORK END */

    /* PORTFOLIO START */
.pf-boxybox {
    display: flex;
    justify-content: space-around;
}

.pf-textbox {
    text-align: center;
    margin: 20px auto;
    max-width: 550px;
}

.pf-textbox h3 {
    font-family: 'Second Causes';
    color: antiquewhite;
    font-size: .9em;
    margin: 10px 0;
}

.pf-textbox p {
    background-color: #10101b85;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
}

.pf-textbox img{
    max-height: 180px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    transition: max-height 0.9s ease-in-out;
    object-fit: cover;
    animation: .6s fadeInUp;
}

.pf-textbox img:hover {
    max-height: 800px;
    width: 80%;
}

.pf-textbox a{
    text-decoration: none;
    color: antiquewhite;
    background-color: rgb(35, 35, 83);
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(37, 25, 143);
    transition: all 0.3s ease-in-out;
}

.pf-textbox a:hover {
    background-color: #214bbd;
}

.pf-boxybox .spacer {
    display: none;
    width: 200px;
    margin: 0 auto;
}
    /* PORTFOLIO END */

/* Mobile Styles END */


/* Media Queries */


@media screen and (max-width: 530px) {
    .jotform-contain{
        width: 375px;
    }
    .jot-iframe{
        width: 400px
    }
}

@media screen and (max-width: 455px) {
    .jotform-contain{
        width: 275px;
        height: 530px
    }
    .jot-iframe{
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .cw-container {
        display: block;
    }

    .cw-names {
        display: none;
    }

    .coursework-texts {
        display: none;
    }
    .coursework-texts-mobile {
        display: block;
    }
    .cw-textbox {
        margin-bottom: 60px;
    }
    .cw-textbox img{
        max-height: 90%;
        width: 75%;
        display: block;
        transition: none;
        object-fit: fill;
        animation: .6s fadeInUp;
        filter: drop-shadow(1px 1px 10px);
        margin: 0 auto;
    }
    .cw-textbox img:hover {
        max-height: 90%;
        width: 75%;
    }

    .pf-boxybox, .pf-boxybox .spacer{
        display: block;
    }
}

